@model WebApp.Models.RoleViewModel

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        Layout = "_Layout";
    }
    
    if (! ViewData.TryGetValue("ActivePage", out var activePage))
    {
        activePage = "EditRole";
    }
    
    var p0 = (ReferenceEquals(activePage, "ViewRole")) ? "active" : "";
    var p1 = (ReferenceEquals(activePage, "EditRole")) ? "active" : "";
    var p2 = (ReferenceEquals(activePage, "EditRoleMembers")) ? "active" : "";
    var p3 = (ReferenceEquals(activePage, "EditRolePermissions")) ? "active" : "";
    var p4 = (ReferenceEquals(activePage, "DeleteRole")) ? "active" : "";

}

<h5>Editar Perfil <span class="text-yellow"> @Html.DisplayFor(model => model.Name)</span></h5>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
           <ul class="nav nav-pills flex-column">
               <li class="nav-item"><a class="nav-link @p0" id="idx" asp-action="ViewRole" asp-controller="Admin" asp-route-p="true" asp-route-id="@Model.Id">Sumário</a></li>
              <li class="nav-item"><a class="nav-link @p1" id="details" asp-action="EditRole" asp-controller="Admin" asp-route-id="@Model.Id">Nome</a></li>
               <li class="nav-item"><a class="nav-link @p2" id="members" asp-action="EditRoleMembers" asp-controller="Admin" asp-route-id="@Model.Id">Utilizadores deste Perfil</a></li>
               <li class="nav-item"><a class="nav-link @p3" id="permissions" asp-action="EditRolePermissions" asp-controller="Admin" asp-route-id="@Model.Id">Permissões</a></li>
               <li class="nav-item"><a class="nav-link @p4" id="delete" asp-action="DeleteRole" asp-controller="Admin" asp-route-id="@Model.Id">Apagar Perfil</a></li>
           </ul>
        </div>
        <div class="col-md-9">
            <div class="container">
            @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
   @RenderSection("Scripts", required: false)
}
