@model IEnumerable<WebApp.Models.UserViewModel>
@{
    ViewData["Title"] = "Utilizadores";
}

<style>
    
    .table td, .table th {
        padding: .25rem;
    }
    .btn{padding: .2rem .5rem;}
</style> 

<h4>Utilizadores</h4>
<hr/>
<a title="Novo utilizador" url='@Url.Content("~/Admin/CreateUser")' class="btn btn-primary mb-4 modal-link">Adicionar utilizador</a>
<table class="table table-striped pt-4">
    <thead class="table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>@Html.DisplayNameFor(model => model.Roles)</th>
          <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @foreach (var role in item.Roles){
                    <a class="btn btn-outline-secondary modal-link small-txt" href="#" title="Ver Perfil @role.Name" url='@Url.Content("~/Admin/ViewRole")/@role.Id'> @role.Name </a>
                }
            </td>
            <td>
                @* <a class="btn btn-outline-secondary modal-link" href="#" title="Permissões do utilizador @item.UserName" url="@Url.Content("~/Admin/ViewUserPermissions/@item.Id")">Permissões</a> *@
                    <a class="modal-link" title="Ver utilizador @item.UserName" url='@Url.Content("~/Admin/ViewUser")/@item.Id'><i class="fa-solid fa-circle-info text-primary crud-icon"></i></a>
                    <a class="modal-link" title="Editar utilizador @item.UserName" url='@Url.Content("~/Admin/EditUser")/@item.Id'><i class="fa-solid fa-square-pen text-success crud-icon"></i></a>
                    <a class="modal-link" title="Apagar utilizador @item.UserName" url='@Url.Content("~/Admin/DeleteUser")/@item.Id'><i class="fa-solid fa-circle-xmark text-danger crud-icon"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>

