@model WebApp.Models.RoleViewModel

@{
    var pageId = "dlg-cont-role";
    if (!ViewData.TryGetValue("useLayout", out var useLayout) || useLayout.Equals(false) )
    {
        Layout = null;
    }
    else
    {
        ViewData["ActivePage"] = "ViewRole";
        Layout = "_LayoutRole";
        pageId = "dlg-cont-role-p";
    }
}
<div id="@pageId" class="form-group d-flex flex-wrap" style="display:flex!important;">
    <div class="col-md-3" style="margin-top: 20px">
        <strong>@Html.DisplayNameFor(model => model.Members)</strong>
        <hr/>
        @foreach (var user in Model.Members)
        {
            <a class="btn btn-outline-secondary modal-link small-txt" href="#" title="Ver Utilizador @user.UserName" url='@Url.Content("~/Admin/ViewUser")/@user.Id' > @user.UserName </a>
        }

    </div>

    <div class="col-md-9" style="margin-top: 20px">
        <strong>@Html.DisplayNameFor(model => model.Permissions)</strong>
        <hr/>
        <ul class="small-txt">
            @{

                Stack<Guid?> myStack = new Stack<Guid?>();
                myStack.Push(null);
                for (var i = 0; i < Model.Permissions.Length; i++)
                {
                    if (Model.Permissions[i].ParentMenuId != myStack.Peek())
                    {
                        if (!myStack.Contains(Model.Permissions[i].ParentMenuId))
                        {
                            @Html.Raw("<ul>")
                            myStack.Push(Model.Permissions[i].ParentMenuId);
                        }
                        else
                        {
                            do
                            {
                                @Html.Raw("</ul>")
                                myStack.Pop();
                            } while (myStack.Peek() != Model.Permissions[i].ParentMenuId);
                        }
                    }

                    <li class="permissions-line">

                        <input class="check-readonly check-get " style="margin-left:2px;" type="checkbox" disabled asp-for="@Model.Permissions[i].Get.Value"/>
                        <label style="margin-left:5px;" asp-for="@Model.Permissions[i].Get.Value"> @Html.DisplayNameFor(model => Model.Permissions[i].Get)</label>
                        <input class="check-readonly check-post" style="margin-left:12px;" type="checkbox" disabled asp-for="@Model.Permissions[i].Post.Value" />
                        <label style="margin-left:5px;" asp-for="@Model.Permissions[i].Post.Value">@Html.DisplayNameFor(model => Model.Permissions[i].Post)</label>
                        <label class="txt-btn modal-link" style="margin-left:10px;" title="Detalhes do menu @Model.Permissions[i].Name" url='@Url.Content("~/Admin/ViewMenu")/@Model.Permissions[i].Id'>@Model.Permissions[i].Name</label>

                    </li>
                }
                while (myStack.Peek() != null)
                {
                    @Html.Raw("</ul>")
                    myStack.Pop();
                }
            }
        </ul>

    </div>
</div>


@if (Layout == null)
{
@*    <div class="form-group">
        <a class="btn btn-outline-secondary" asp-action="EditRole" asp-controller="Admin" asp-route-id="@Model.Id">Editar Perfil @Model.Name</a>
    </div>*@
    <script>
        $(document).ready(function () {
            $("#@pageId .check-readonly").click( function () { return false})
            });    
        applyModalClickEvents("#@pageId");
    </script>
}
else
{
    <hr/>
    <div>
        <a class="btn btn-secondary" asp-action="Roles">Voltar</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
        <script>
            $(document).ready(function () {                     
                $("#@pageId .check-readonly").click( function () { return false})
            });

             applyModalClickEvents("#@pageId");
        </script>
    }
}
