@model WebApp.Models.ApplicationModels.Deletedtecnologies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deletedtecnologies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkdocs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkdocs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linklogs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linklogs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkreports)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkreports)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maildev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maildev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apagado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
